/*  HEADER  */

.header{
    width: 100vw;
    height: 30vh;
}

.image{  
    width: 100vw; 
    height: 30vh;
    object-fit: cover; 
}

/*  SEARCH  */

.search-container{
    background-color: white;
    transform: translate(15vw, -5vh);
    width: 68vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 5px 0px rgba(219,219,219,1);
}

.input{
    width: 50vw;
    font-size: 18px;
    border: 2px solid orange;
    padding: 8px 15px 8px 15px;
}

.button{
   background-color: orange;
   border: none;
   color: white;
   margin-left: 20px;
   padding: 10px 10px 10px 10px;
}

/*  CARDS  */

.main-container{
    display: grid;
    grid-template-columns: 30vw 70vw;
}

.main-content-fav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    color: rgb(193, 128, 8);
    margin-bottom: 21px;
}

.reset{
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 10px 10px 10px;   
}

.favourites-characters{
    background-color: rgb(255, 233, 192);
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 21px;
    margin-top: 21px;
    height: 42.5vh;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 0 0;
}

.character-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 64vw;
}

.card{
    border: 2px solid orange;
    width: 12vw;
    height: 38vh;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 25px 0px 25px;
}

.card-image{
    width: 10vw;
    height: 28vh;
    object-fit: cover;
}

.card-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.card-life{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-top: 10px;
}

