.header{
    width: 100vw;
    height: 30vh;
}

.image{
    
}

.div{
    background-color: white;
    height: 20vh;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input{
    width: 50vw;
    font-size: 18px;
    border: 2px solid orange;
    padding: 8px 15px 8px 15px;
}

.button{
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 15px 8px 15px;
    font-size: 18px;
}